.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav {
  padding: 10px;
}

.navigation-bar {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: 2rem;
}
li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  padding: 5px;
  color: #ff6060;
}

a:hover {
  text-decoration: underline;
}

.logo-title {
  position: absolute;
  width: 200px;
  height: auto;
  top: 2rem;
  left: 5rem;
}
@media (max-width: 768px) {
  .logo-title {
    width: 100px;
  }
}

.img-board {
  width: 100%;
  height: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  position: relative;
  align-items: center;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  filter: contrast(40%);
}

img {
  display: flex;
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.container-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-img h1 {
  position: absolute;
  color: #f6f6f6;
  top: 10rem;
  z-index: 10;
}

.img-cards {
  max-width: 350px;
  min-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.card-list {
  background-color: #f6f6f6;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 5rem;
  margin-right: 10rem;
  margin-top: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.card-image {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.card-title {
  top: 80%;
  left: 40%;
  color: #f6f6f6;
}

.footer {
  height: 10rem;
  color: #f6f6f6;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.logo-footer {
  width: 7rem;
  height: 7rem;
}

.img-about {
  width: 80rem;
  height: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  align-items: center;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.container-carrousel-main {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .container-carrousel-main {
    grid-template-columns: repeat(1, 1fr);
  }
}

.description-about {
  list-style: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
}

.description-about h3 {
  background-color: #ff6060;
  padding: 1rem;
  border-radius: 5px;
  color: #f6f6f6;
  margin: auto;
}

.icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  width: 1.5rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.icon-arrow-transform {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  width: 1.5rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  transform: rotate(180deg);
}

.description {
  background-color: #f6f6f6;
  padding: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.item-description {
  display: block;
}

.not-found-container h1 {
  color: #ff6060;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container h3 {
  color: #ff6060;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container a {
  color: #ff6060;
  font-size: 1rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.title-card {
  color: #ff6060;
  width: fit-content;
}

.img-card {
  width: 100%;
  height: 25rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  position: relative;
  align-items: center;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
@media (max-width: 768px) {
  .img-card {
    width: 90%;
    height: auto;
  }
}

.container-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0rem 5rem 0rem 5rem;
}
.location-card {
  color: #ff6060;
}

.person-card {
  position: absolute;
  display: flex;
  align-self: flex-end;
}
@media (max-width: 768px) {
  .person-card {
    position: relative;
    order: 2;
  }
}

.imghost-card {
  border-radius: 50%;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .imghost-card {
    height: 5rem;
    width: auto;
  }
}

.hostname-card {
  color: #ff6060;
  font-size: larger;
  margin-top: 3rem;
  order: -1;
}

.container-tagstars {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container-tagstars {
    display: flex;
    flex-wrap: wrap;
  }
}

.container-tags {
  display: flex;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .container-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.tag-card {
  color: white;
  background-color: #ff6060;
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
@media (max-width: 768px) {
  .tag-card {
    height: 2rem;
    width: 10rem;
  }
}

.container-stars {
  display: flex;
  height: 2rem;
  margin-top: 3rem;
}

.filled-star {
  color: #ff6060;
  font-size: x-large;
}
@media (max-width: 768px) {
  .filled-star {
    height: 1rem;
    width: auto;
  }
}

.empty-star {
  color: #e3e3e3;
  font-size: x-large;
}
@media (max-width: 768px) {
  .empty-star {
    height: 1rem;
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
