@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair:wght@400;800&family=Raleway&family=Silkscreen&display=swap");
.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navigation-bar {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  height: 7rem;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .navigation-bar {
    margin-right: 1rem;
  }
}

li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  padding: 5px;
  color: #ff6060;
}

a:hover {
  text-decoration: underline;
}

.logo-title {
  position: absolute;
  width: 10%;
  height: auto;
  left: 5%;
}
@media (max-width: 768px) {
  .logo-title {
    width: 25%;
  }
}

.img-board {
  width: 100%;
  height: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  filter: contrast(40%);
}
@media (max-width: 768px) {
  .img-board {
    height: 111px;
    width: 355px;
    margin: 0;
  }
}

img {
  display: flex;
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.container-img {
  width: 100%;
  margin: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 768px) {
  .container-img {
    margin: 0;
  }
}

.container-img h1 {
  position: absolute;
  color: #f6f6f6;
  top: 40%;
  z-index: 10;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .container-img h1 {
    font-size: 1rem;
  }
}

.img-cards {
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  max-width: 100%;
  min-height: 100%;
}

.card-list {
  background-color: #f6f6f6;
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  align-items: center;
}
@media (max-width: 950px) {
  .card-list {
    padding-top: 0;
    background-color: #f6f6f6;
    background-color: white;
  }
}

.card-list a {
  width: 30%;
}
@media (max-width: 950px) {
  .card-list a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
}
@media (max-width: 768px) {
  .card {
    width: 80vw;
    justify-content: center;
    margin-top: 1rem;
  }
}

.card-image {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
@media (max-width: 950px) {
  .card-image {
    width: 335px;
    height: 255px;
  }
}

.card-title {
  position: absolute;
  top: 80%;
  left: 40%;
  color: #f6f6f6;
}
@media (max-width: 950px) {
  .card-title {
    top: 70%;
    left: 40%;
  }
}

.footer {
  height: 23vh;
  color: #f6f6f6;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.logo-footer {
  width: 7rem;
  height: 7rem;
}

.img-about {
  width: 80%;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  position: relative;
  align-items: center;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.container-carrousel-main {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .container-carrousel-main {
    align-items: initial;
  }
}

.structure-card-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto 5rem auto 5rem;
  width: 100%;
}
@media (max-width: 768px) {
  .structure-card-detail {
    grid-template-columns: repeat(1, 1fr);
  }
}

.structure-about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 60%;
}
@media (max-width: 768px) {
  .structure-about {
    grid-template-columns: repeat(1, 1fr);
  }
}

.drop-structure {
  width: 100%;
  margin: 1rem;
}
@media (max-width: 768px) {
  .drop-structure {
    display: flex;
    width: auto;
    margin: 0;
  }
}

.elem-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #ff6060;
}
@media (max-width: 768px) {
  .elem-drop {
    min-width: 60vw;
  }
}

.description-about {
  list-style: none;
  width: 100%;
  padding: 0;
  position: relative;
}
.description-about h3 {
  padding: 1rem;
  color: #f6f6f6;
  margin: auto 1rem auto 2rem;
}
@media (max-width: 768px) {
  .description-about h3 {
    width: 40vw;
    margin: 0;
  }
}

.icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  width: 1.5rem;
  height: 1rem;
  margin-right: 1rem;
  transition-duration: 0.5s;
  transform: rotate(0deg);
}

.icon-arrow-transform {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6060;
  width: 1.5rem;
  height: 1rem;
  margin-right: 1rem;
  transition-duration: 0.5s;
  transform: rotate(-180deg);
}

.description {
  width: 100%;
}
@media (max-width: 768px) {
  .description {
    min-width: 60vw;
  }
}

.item-description {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  background-color: #f6f6f6;
  padding: 1rem 0rem;
  margin: auto;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.not-found-container h1 {
  color: #ff6060;
  font-size: 10rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .not-found-container h1 {
    font-size: 96px;
  }
}

.not-found-container h3 {
  color: #ff6060;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .not-found-container h3 {
    font-size: 10px;
  }
}

.not-found-container a {
  color: #ff6060;
  font-size: 1rem;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
@media (max-width: 768px) {
  .not-found-container a {
    font-size: 10px;
  }
}

.title-card {
  color: #ff6060;
  font-size: 50px;
  margin: 0;
}
@media (max-width: 768px) {
  .title-card {
    font-size: 30px;
  }
}

.container-detail-card {
  width: 100%;
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
}
@media (max-width: 768px) {
  .container-detail-card {
    width: 80%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.cover-detail {
  width: 100%;
  height: 25rem;
  margin-top: 5rem;
  position: relative;
  align-items: center;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
@media (max-width: 768px) {
  .cover-detail {
    width: 100%;
    height: 22rem;
  }
}

.arrow-right {
  position: absolute;
  top: 45%;
  right: 5%;
  z-index: 10;
  height: 20%;
  width: 6%;
}
@media (max-width: 768px) {
  .arrow-right {
    right: 10%;
    height: 10%;
    top: 55%;
  }
}

.arrow-left {
  position: absolute;
  top: 45%;
  left: 5%;
  z-index: 10;
  height: 20%;
  width: 6%;
}
@media (max-width: 768px) {
  .arrow-left {
    left: 10%;
    height: 10%;
    top: 55%;
  }
}

.btn-change {
  background: none;
  border: none;
  padding: 0;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 0rem 5rem 0rem 5rem;
}
@media (max-width: 768px) {
  .container-card {
    width: 80%;
    gap: 0;
  }
}

.container-title {
  width: 60%;
}
@media (max-width: 768px) {
  .container-title {
    order: 0;
  }
}

.location-card {
  color: #ff6060;
  font-size: 20px;
}
.person-card {
  display: flex;
  width: 35%;
  justify-content: center;
}
@media (max-width: 800px) {
  .person-card {
    order: 3;
  }
}

.imghost-card {
  border-radius: 50%;
  margin-top: 1rem;
  width: 30%;
  height: 7rem;
  object-fit: cover;
}
@media (max-width: 800px) {
  .imghost-card {
    height: 70%;
    width: 13vw;
  }
}

.hostname-card {
  color: #ff6060;
  font-size: larger;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  order: -1;
}
@media (max-width: 800px) {
  .hostname-card {
    margin-top: 1rem;
  }
}

.container-tags {
  display: flex;
  max-width: 100%;
  gap: 1rem;
  padding: 0;
}
@media (max-width: 800px) {
  .container-tags {
    display: flex;
    flex-wrap: wrap;
    margin-right: 3rem;
    order: 1;
    width: 100%;
    padding: 0;
  }
}

.tag-card {
  color: white;
  background-color: #ff6060;
  width: 10rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
@media (max-width: 800px) {
  .tag-card {
    height: auto;
    width: 20%;
    min-width: 4.5rem;
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}

.container-stars {
  display: flex;
  height: 2rem;
}
@media (max-width: 800px) {
  .container-stars {
    align-self: flex-start;
    height: 4rem;
    order: 2;
    align-items: center;
  }
}

.filled-star {
  color: #ff6060;
  font-size: x-large;
}
@media (max-width: 800px) {
  .filled-star {
    height: 1rem;
    width: auto;
  }
}

.empty-star {
  color: #e3e3e3;
  font-size: x-large;
}
@media (max-width: 800px) {
  .empty-star {
    height: 1rem;
    width: auto;
  }
}

.container-number-slide {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 85%;
}

.number-slide {
  color: white;
  font-size: x-large;
}

.equipement-description {
  list-style: none;
}

.equipement-ul {
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
