@import "./variables";
@import "./placeholders";
@import "./mixins";
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

nav {
	padding: 10px;
}

.navigation-bar {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin-right: 5rem;
	margin-top: 2rem;
}

li {
	margin-right: 10px;
}

a {
	text-decoration: none;
	padding: 5px;
}

a:hover {
	color: red;
}

.logo-title {
	position: absolute;
	width: 200px;
	height: auto;
	top: 2rem;
	left: 5rem;
}

.img-board {
	width: 100%;
	height: 15rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 5rem;
	position: relative;
	align-items: center;
	object-fit: cover;
	@include border-radius(20px);
	filter: contrast(40%);
}

img {
	display: flex;
}

.container {
	min-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
}

.container-img {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.container-img h1 {
	position: absolute;
	color: $color-text;
	top: 10rem;
	z-index: 10;
}

.img-cards {
	max-width: 350px;
	min-width: 350px;
	height: 350px;
	object-fit: cover;
	@include border-radius(10px);
}

.card-list {
	background-color: $color-background;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 2rem;
	@include border-radius(20px);
	align-items: center;
}

.card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.5rem;
}

.card-image {
	position: relative;
	@include border-radius(5px);
}

.card-title {
	top: 80%;
	left: 40%;
	@extend %centered;
	color: $color-text;
}

.footer {
	height: 10rem;
	color: $color-text;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	width: 100%;
}

.logo-footer {
	width: 7rem;
	height: 7rem;
}

.img-about {
	width: 80rem;
	height: 15rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 5rem;
	align-items: center;
	object-fit: cover;
	@include border-radius(20px);
}
.container-carrousel-main {
	min-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.description-about {
	list-style: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	padding: 0;
	position: relative;
}

.description-about h3 {
	background-color: $color-primary;
	padding: 1rem;
	border-radius: 5px;
	color: $color-text;
	margin: auto;
}

.icon-arrow {
	@include flex-center;
	background-color: $color-primary;
	width: 1.5rem;
	height: 1rem;
	position: absolute;
	top: 1rem;
	right: 2rem;
}

.icon-arrow-transform {
	@include flex-center;
	background-color: $color-primary;
	width: 1.5rem;
	height: 1rem;
	position: absolute;
	top: 1rem;
	right: 2rem;
	transform: rotate(180deg);
}

.description {
	background-color: $color-background;
	padding: 1rem;
	margin-top: auto;
}

.not-found-container h1 {
	color: $color-primary;
	font-size: 10rem;
	@include flex-center;
}

.not-found-container h3 {
	color: $color-primary;
	font-size: 2rem;
	@include flex-center;
}

.not-found-container a {
	color: $color-primary;
	font-size: 1rem;
	text-decoration: underline;
	@include flex-center;
	margin-top: 8rem;
}
.title-card {
	color: $color-primary;
	width: fit-content;
}
.img-card {
	width: 100%;
	height: 30rem;
	margin: 3rem 5rem 3rem 5rem;
	@include border-radius(25px);
}
.container-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0rem 5rem 0rem 5rem;
}
.location-card {
	color: $color-primary;
}
.person-card {
	position: absolute;
	display: flex;

	align-self: flex-end;
}
.imghost-card {
	border-radius: 50%;
}
.hostname-card {
	color: $color-primary;
	font-size: larger;

	order: -1;
}
.container-tags {
	display: flex;
	position: absolute;
	top: 49rem;
	left: 2rem;
}
.tag-card {
	color: white;
	background-color: $color-primary;
	width: 10rem;
	height: 2rem;

	@include flex-center;
	@include border-radius(10px);
}
.container-stars {
	display: flex;
	margin-top: 3rem;

	align-items: end;
	align-self: flex-end;
}
.filled-star {
	color: $color-primary;
	font-size: x-large;
}
.empty-star {
	color: #e3e3e3;
	font-size: x-large;
}
